<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>	Holy Church a Religious Category Flat Bootstarp Responsive Website Template | 404 :: w3layouts</title>
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all">
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="HolyChurch Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='http://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" th:href="@{/css/flexslider.css}" type="text/css" media="screen" />
<script th:src="@{/js/jquery.min.js}"></script>
</head>
<body>

	<!-- header -->
        <div th:replace="includes :: header"></div>	
<!-- header -->

	<!-- 404 -->
	<div class="main">
	<div class="container">
		<div class="error-404 text-center">
				<h1>404</h1>
				<p>this link dead link</p>
				<a class="b-home" href="index1.html">Back to Home</a>
			</div>
		</div>
	</div>
	<!-- 404 -->
				
	<!-- footer -->
        <div th:replace="includes :: footer"></div>
	<!-- footer -->
</body>
</html>