<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>	Holy Church a Religious Category Flat Bootstarp Responsive Website Template | prayer :: w3layouts</title>
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all">
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="HolyChurch Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='http://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" th:href="@{/css/flexslider.css}" type="text/css" media="screen" />
</head>
<body>
<!-- header -->
        <div th:replace="includes :: header"></div>	
<!-- header -->
	<!-- prayer -->
	<div class="prayer">
		<div class="container">
			<h2>List of Donations</h2>

			 <p>
        <!--<span th:text="List of memberbers"></span>-->
        </p>
      
    	<div th:if="${ not#lists.isEmpty(alldonations)}">
          <table>
            <tr >
             <th>SN</th>
             <th >First Name</th>
              <th>Last Name</th>
                      <th>Email</th>
               <th>Amount</th>  
               <th>Description</th>
               <th>Transaction Method</th>
                  <th>Transaction Reference</th>
                     <th>Approval</th>
                  <th></th>
       
                 
            </tr>
<!--            <tr >
            <td colspan="2"> No Record Ath:if="${vailable </td>
            </tr>-->
            
            
            <tr th:each="don, iterator : ${alldonations}">
                <td th:text="${iterator.index+1}"></td>
              <td th:text="${don.firstName}">First Name</td>
              <td th:text="${don.lastName}">Last Name</td>
               <td th:text="${don.email}">Email</td>
              <td th:text="${don.amount}">Amount</td>
               <td th:text="${don.description}">Description</td>
               <td th:text="${don.donationMethod}">Transaction Method</td>
               <td th:text="${don.transactionRef}">Transaction Ref</td>
               <!--<td th:text="${don.approved}">Approval</td>-->
            
                <td>
                <div th:if="${don.approved eq 0}">
               <a th:href="@{/donation/approve/{id}(id=${don.id})}">Approve</a>
                <!--<p>Not Replied <span><br/><a th:href="@{/mailform/{id}(id=${con.id})}">Reply now</a></span></p>-->
                  </div>
                <div th:unless="${don.approved eq 0}">
                    <a th:href="@{/donation/unapprove/{id}(id=${don.id})}">Unapprove</a>
                <!--<p> Replied <span><br/><a @{/mailform/{id}(id=${con.id})}>Reply Again</a></span></p>-->
                </div>
              </td>
              <!--<td th:unless="${pos.approved=0}">-->
<!--                  <form th:action ="@{/updateApproved}" th:object="${}" method="post">
          <a th:href="@{/blog/unapprove/{id}(id=${pos.id})}">Unapprove</a>
                  </form>
              </td>-->-->
<!--                  <td th:text="${unapp.message}">Messages</td>-->
            
                  
            </tr>
          </table>
        </div>
	   </div>
        </div>
	<!-- prayer -->
				
	<!-- footer -->
        <div th:replace="includes :: footer"></div>
	<!-- footer -->
</body>
</html>