<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>	Word and Prayer Network</title>
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all">
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="HolyChurch Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='http://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" th:href="@{/css/flexslider.css}" type="text/css" media="screen" />
</head>
<body>
<!-- header -->
        <div th:replace="includes :: header"></div>	
<!-- header -->
	<!-- prayer -->
	<div class="prayer">
		<div class="container">
			<h2>List of Programs</h2>
<!--			<
-->			 <p>
        <!--<span th:text="List of memberbers"></span>-->
        </p>
      
    	<div th:if="${ not#lists.isEmpty(allPrograms)}">
          <table>
            <tr >
             <th>SN</th>
             <!--<th >Program</th>-->
              <th>Title</th>
              <th >Theme</th>
              <th>Speaker(s)</th>
                      <th>Program Date</th>
                      <th> Program Time</th>
                <th>Venue</th>
                   <th>Description</th>
                     <th>Date Posted</th>
                    <th>Status</th>
              <th>View/Edit</th> 
       
                 
            </tr>
<!--            <tr >
            <td colspan="2"> No Record Ath:if="${vailable </td>
            </tr>-->
            
            
            <tr th:each="pos, iterator : ${allPrograms}">
                <td th:text="${iterator.index+1}"></td>
              <td th:text="${pos.title}">Title</td>
              <td th:text="${pos.theme}">Theme</td>
              <td th:text="${pos.speakers}">Speaker(s)</td>
              <td th:text="${pos.programDate}">Program Date</td>
               <td th:text="${pos.programTime}">Program Time </td>
               <td th:text="${pos.venue}">Venue</td>
                <td th:text="${pos.description}">Description</td>
                  <td th:text="${pos.datePosted}">Date Posted</td>
                  
              
              <!--<td th:text="${pos.approved &gt; 0? 'Unapprove' : 'Approve'}"> [pos.approved]</td>-->
<!--                  <form th:action ="@{/updateApproved}" th:object="${}" method="post">-->
                <td>
                <div th:if="${pos.upcoming eq 1}">
               <a th:href="@{/program/past/{id}(id=${pos.id})}">Upcoming</a>
                  </div>
                <div th:unless="${pos.upcoming eq 1}">
                 <a th:href="@{/program/upcoming/{id}(id=${pos.id})}">Past</a>
                
                </div>
              </td>
              <td ><a th:href="@{/program/edit/{id}(id=${pos.id})}">View/Edit</a></td>
              <!--<td th:unless="${pos.approved=0}">-->
<!--                  <form th:action ="@{/updateApproved}" th:object="${}" method="post">
          <a th:href="@{/blog/unapprove/{id}(id=${pos.id})}">Unapprove</a>
                  </form>
              </td>-->-->
<!--                  <td th:text="${unapp.message}">Messages</td>-->
            
                  
            </tr>
          </table>
        </div>
	   </div>
        </div>
	<!-- prayer -->
				
	<!-- footer -->
        <div th:replace="includes :: footer"></div>
	<!-- footer -->
</body>
</html>