<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>		Word and Prayer Network</title>
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all">
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="HolyChurch Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='http://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" th:href="@{/css/flexslider.css}" type="text/css" media="screen" />
<script th:src="@{/js/jquery.min.js}"></script>
</head>
<body>
<!-- header -->
        <div th:replace="includes :: header"></div>	
<!-- header -->
	<!-- prayer -->
	<div class="prayer">
		<div class="container">
			<h2>DAILY DEVOTIONAL</h2>
			<div class="prayer-top" th:each="blog : ${blogs}">
				<div class="col-md-4 prayer-left">
					<img th:src="${blog.bImage.location}" class="img-responsive" alt="" />
				</div>
				<div class="col-md-8 prayer-right">
					<h3 th:text="${blog.title}"></h3>
					<span th:text="${blog.dateupdated}" ></span>
					<h6>Let us therefore come boldly unto the throne of grace, that we may obtain mercy, and find grace to help in time of need. God's grace and mercy has been made available for you.</h6>
				
					<p th:text="${blog.message}">Lorem Ipsum, you need to be sure there isn't Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, ando make a type specimen book. It has survived not only five centuries, but also the leap into electronic  a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, anything Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined</p>
					<a href="#" class="vie">View more</a>
				</div>
				<div class="clearfix"> </div>
			</div>
		
		</div>
	</div>
	<!-- prayer -->
				
	<!-- footer -->
        <div th:replace="includes :: footer"></div>
	<!-- footer -->
</body>
</html>