<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>		Word and Prayer Network</title>
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all">
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="HolyChurch Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='http://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" th:href="@{/css/flexslider.css}" type="text/css" media="screen" />
<script src="js/jquery.min.js"></script>
</head>
<body>
<!-- header -->
	
        <div th:replace="includes :: header"></div>	
<!-- header -->
	
	<!-- contact -->
	<div class="contact">
	<div class="container">
		<h2>Donation</h2>

					<div class="contact-head text-center">
						<p>You can be part of what God is doing through Wapnetwork by giving and making donations towards our outreaches. God bless you. </p>
					</div>		
					<!----- contact-grids ----->		
					
						<!----- contact-form ------>
						<div class="contact-form">
							<form method="POST" action="/onlinegiving" th:object="${don}">
								<div class="contact-form-row">
									<div>
										<span>Firt Name :</span>
										<input th:field="*{firstName}" type="text" class="text" placeholder="First Name">
									</div>
                                                                    <div>
										<span>Last Name :</span>
										<input th:field="*{lastName}" type="text" class="text" placeholder="Last Name" >
                                                                    </div>									
                                                                    <div>
										<span>Email :</span>
                                                                                <input th:field="*{email}" type="email" class="text" placeholder="Email" >
									</div>
									<div>
										<span>Amount :</span>
                                                                                <input th:field="*{Amount}"  type="number" class="text" placeholder="Amount">
									</div>
									<div class="clearfix"> </div>
                                                                </div>
								<div class="clearfix"> </div>
								<div class="contact-form-row2">
									<span>Message :</span>
									<textarea th:field="*{description}"> </textarea>
								</div>
								<input type="submit" value="send">
							</form>
						</div>
						<!----- contact-form ------>
					</div>
					<!----- contact-grids ----->
			
		</div>
	</div>
	<!-- contact -->		
	<!-- footer -->
	
        <div th:replace="includes :: footer"></div>	

	<!-- footer -->
</body>
</html>