<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Word and Prayer Network</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div th:fragment="header">
            
            <!-- header -->
	<div class="header">
		<div class="header-top">
			<div class="container">
				<div class="head-left">
					<ul class="number">
						<!--<li><span>Next Worship : Sunday at 10:00am</span></li>-->					
					</ul>
				</div>
				<div class="head-right">
					<ul class="number">
						<li><a href="/contact">Need Prayer </a></li>|
						<li><a href="/sermons">Sermons </a></li>|
						<li><a href="/onlinegiving">Online Giving </a></li>
                                                |<li><a href="/blog">Blogs</a></li>|
                                                <li><a href="/login">Login</a></li>|
                                                
<!--						<li><a href="#">Praying Groups</a></li>|
						<li><a href="#">Worship Services</a></li> 
-->
							<div class="clearfix"> </div>						
					</ul>
				</div>
					<div class="clearfix"> </div>
			</div>
		</div>
		<div class="header-bottom">
			<div class="container">
				<div class="logo" th:if="${AboutInfo eq null}">
                                      <a href="/"><img th:src="@{/images/logo.jpg}" class="img-responsive" alt="" /></a>
                                </div>
                            <div class="logo" th:unless="${AboutInfo eq null}">
                                    <a href="/"><img th:src="${AboutInfo.lImage.location}" class="img-responsive" alt="" /></a>
                                        <!--<a href="/">WORD AND PRAYER NETWORK</a>-->
				</div>
                                
				<div class="bottom-left">
					<a href="/register">NEW HERE? GET INVOLVED</a>
				</div>
					<div class="clearfix"> </div>
			</div>
		</div>
						
				<div class="container">
				<div class="head-na">
					<div class="head-nav">
					<span class="menu"> </span>
						<ul class="cl-effect-15">
								<li><a href="/" data-hover="HOME">HOME</a></li><label>|</label>
								<li><a href="/ourmission" data-hover="OUR MISSION">OUR MISSION</a></li><label>|</label>
								<li><a href="/gallery" data-hover="GALLERY">GALLERY</a></li><label>|</label>
								<li><a href="/blog" data-hover="BLOG">BLOG</a></li><label>|</label>
								<li><a href="/sermons" data-hover="SERMONS">SERMONS </a></li><label>|</label>
								<li><a href="/testimony" data-hover="TESTIMONY">TESTIMONY</a></li><label>|</label>
								<li><a href="/contact" data-hover="CONTACT">CONTACT</a></li>
                                                                <li><a href="/onlinegiving" data-hover="DONATION">DONATION</a></li>
									
							</ul>
                                                                 <div class="clearfix"> </div>
					</div>
					<!-- script-for-nav -->
					<script>
						$( "span.menu" ).click(function() {
						  $( ".head-nav ul" ).slideToggle(300, function() {
							// Animation complete.
						  });
						});
					</script>
				<!-- script-for-nav --> 
				</div>
				</div>
				
	</div>
	<!-- header -->
        
        </div>
        
        
        
        
        <div  th:fragment="footer">
            <!-- footer -->
	<div class="footer">
	<div class="container">
		<div class="col-md-3 loc" th:if="${AboutInfo != null}">
			<h3>Our Location</h3>
			<p th:text="${AboutInfo.address}"></p>
			<p><span>Telephone :</span> <span th:text="${AboutInfo.phonenumber}"></span></p>
			<span>Email : </span><a th:href="${'mailto:'+AboutInfo.email}" th:text="${AboutInfo.email}">info(at)company.com</a>
		</div>
		<div class="col-md-3 ma">
		<h3>Catch</h3>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12947831.742778081!2d-95.665!3d37.599999999999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2sUnited+States!5e0!3m2!1sen!2sin!4v1427784587281" width="100%" height="150" frameborder="0" style="border:0"></iframe>
		</div>
		<div class="col-md-3 or">
			<h3>Our Church</h3>
			<li><a href="/about">• Our Mission</a></li>
			<!--<li><a href="services.html">• Service</a></li>-->
			<li><a href="/blog">• Blog</a></li>
			<li><a href="/sermons">• Sermons</a></li>
			<li><a href="/contact">• Contact</a></li>
		</div>
		<div class="col-md-3 con">
			<h3 >Get Connected</h3>
			<ul class="social" th:if="${AboutInfo != null}">
						<li><a th:href="${AboutInfo.facebook}"><i class="fb"> </i>Facebook</a></li>
						<li><a th:href="${AboutInfo.twitter}"><i class="twt"> </i>Twitter</a></li>
						<li><a th:href="${AboutInfo.youtube}"><i class="yout"> </i>You Tube</a></li>
						<li><a th:href="${AboutInfo.linkedin}"><i class="lik"> </i>Likedin</a></li>
						<!-- <li><a href="#"><i class="skyp"> </i>Skype</a></li>						 -->
							<div class="clearfix"> </div>						
					</ul>
		</div>
		<div class="clearfix"> </div>
	</div>
	</div>
	<div class="footer-bottom">
	<div class="container">
		<p>Copyrights © 2021 wapnetwork All rights reserved | </p>
	</div>
	</div>
	
	<!-- footer -->
        </div>
        
        
        
        
        
        <div th:fragment="dashboard">

   
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" data-navbarbg="skin5">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin6">
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                  <div class="container"> 
				
                    <a class="navbar-brand" href="/dashboard">
                        <!-- Logo icon -->
                        <!-- comment   <b class="logo-icon">
                            <!-- Dark Logo icon -->
                        <!--    <img th:src="@{/plugins/images/logo-icon.png}" alt="homepage" />
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                   <!--     <span class="logo-text">
                            <!-- dark Logo text -->
                 <!--           <img th:src="@{/plugins/images/logo-text.png}" alt="homepage" />
                        </span>
                 </a>
                 -->
                        <div class="logo-icon" th:if="${AboutInfo eq null}">
                                      <a href="/dashboard"><img th:src="@{/images/logo1.jpg}" class="img-responsive" alt="" /></a>
                                </div>
                            <div class="logo-icon" th:unless="${AboutInfo eq null}">
                                    <a href="/dashboard"><img th:src="${AboutInfo.lImage.location}" class="img-responsive" alt="" /></a>
                                        <!--<a href="/">WORD AND PRAYER NETWORK</a>-->
				</div>
                    </a>
                    </div>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <a class="nav-toggler waves-effect waves-light text-dark d-block d-md-none"
                        href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                    <ul class="navbar-nav d-none d-md-block d-lg-none">
                        <li class="nav-item">
                            <a class="nav-toggler nav-link waves-effect waves-light text-white"
                                href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                        </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- Right side toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav ms-auto d-flex align-items-center">

                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        <li class=" in">
                            <form role="search" class="app-search d-none d-md-block me-3">
                                <input type="text" placeholder="Search..." class="form-control mt-0">
                                <a href="" class="active">
                                    <i class="fa fa-search"></i>
                                </a>
                            </form>
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                        <li>
                            <a class="profile-pic" href="#">
                                <img src="plugins/images/users/varun.jpg" alt="user-img" width="36"
                                    class="img-circle"><span class="text-white font-medium">Steave</span></a>
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <!-- User Profile-->
                         <li class="sidebar-item pt-2">
                            <a href="/dashboard" class="sidebar-link waves-effect waves-dark sidebar-link" 
                                aria-expanded="false">
                                <i class="far fa-clock" aria-hidden="true"></i>
                                <span class="hide-menu">Dashboard</span>
                            </a>
                        </li>
                           <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/viewmembers"
                                aria-expanded="false">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <span class="hide-menu">Users</span>
                            </a>
                        </li>
                         <li class="sidebar-item">
                            <a href="/about" class="sidebar-link waves-effect waves-dark sidebar-link" 
                                aria-expanded="false">
                                <i class="fa fa-table" aria-hidden="true"></i>
                                <span class="hide-menu">About</span>
                            </a>
                        </li>
                         <li class="sidebar-item">
                            <a href="/AllBlog" class="sidebar-link waves-effect waves-dark sidebar-link" 
                                aria-expanded="false">
                                <i class="fa fa-table" aria-hidden="true"></i>
                                <span class="hide-menu">Blog</span>
                            </a>
                        </li>
                          <li class="sidebar-item">
                            <a href="/all_programs" class="sidebar-link waves-effect waves-dark sidebar-link" 
                                aria-expanded="false">
                                <i class="fa fa-table" aria-hidden="true"></i>
                                <span class="hide-menu">Program</span>
                            </a>
                        </li>
                         <li class="sidebar-item">
                            <a href="/all_gallery_images" class="sidebar-link waves-effect waves-dark sidebar-link" 
                                aria-expanded="false">
                                <i class="fa fa-table" aria-hidden="true"></i>
                                <span class="hide-menu">Gallery</span>
                            </a>
                        </li>
                         <li class="sidebar-item">
                            <a href="/all_donations" class="sidebar-link waves-effect waves-dark sidebar-link" 
                                aria-expanded="false">
                                <i class="fa fa-table" aria-hidden="true"></i>
                                <span class="hide-menu">Donation</span>
                            </a>
                        </li>
                         <li class="sidebar-item">
                            <a href="/AllTestimony" class="sidebar-link waves-effect waves-dark sidebar-link" 
                                aria-expanded="false">
                                <i class="fa fa-table" aria-hidden="true"></i>
                                <span class="hide-menu">Testimony</span>
                            </a>
                        </li>
                         <li class="sidebar-item">
                            <a href="/all_sermons" class="sidebar-link waves-effect waves-dark sidebar-link" 
                                aria-expanded="false">
                                <i class="fa fa-table" aria-hidden="true"></i>
                                <span class="hide-menu">Sermon</span>
                            </a>
                        </li>
                         <li class="sidebar-item">
                            <a href="/all_contact" class="sidebar-link waves-effect waves-dark sidebar-link" 
                                aria-expanded="false">
                                <i class="fa fa-table" aria-hidden="true"></i>
                                <span class="hide-menu">Contact</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="profile.html"
                                aria-expanded="false">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <span class="hide-menu">Profile</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="Ample-admin/basic-table"
                                aria-expanded="false">
                                <i class="fa fa-table" aria-hidden="true"></i>
                                <span class="hide-menu">Basic Table</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="fontawesome.html"
                                aria-expanded="false">
                                <i class="fa fa-font" aria-hidden="true"></i>
                                <span class="hide-menu">Icon</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="map-google.html"
                                aria-expanded="false">
                                <i class="fa fa-globe" aria-hidden="true"></i>
                                <span class="hide-menu">Google Map</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="blank.html"
                                aria-expanded="false">
                                <i class="fa fa-columns" aria-hidden="true"></i>
                                <span class="hide-menu">Blank Page</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="404.html"
                                aria-expanded="false">
                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                                <span class="hide-menu">Error 404</span>
                            </a>
                        </li>
                        <li class="text-center p-20 upgrade-btn">
                            <a href="https://www.wrappixel.com/templates/ampleadmin/"
                                class="btn d-grid btn-danger text-white" target="_blank">
                                Upgrade to Pro</a>
                        </li>
                    </ul>

                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
            
        </div>
        
        
        
         <div  th:fragment="footer2">
        <footer class="footer text-center">  
            
            	
            <p> 2021 © Word and Prayer Network</p>
            </footer>
         </div>>
    </body>
</html>
