<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>	Word and Prayer Network</title>
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all">
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="HolyChurch Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='http://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" th:href="@{/css/flexslider.css}" type="text/css" media="screen" />
<script th:src="@{/js/jquery.min.js}"></script>
</head>
<body>
<!-- header -->
        <div th:replace="includes :: header"></div>	
<!-- header -->
	<!-- slider -->
	<div class="container">
	<!-- slider -->
	<div class="rooted">
	<div class="container">
		<div class="col-md-9 roted-left">
		<div class="grndd">
			<h3>Rooted & Grounded in Love</h3>
			<h6>Do You Know Jesus Christ From Nazareth?</h6>
			<p>We preach Jesus Everywhere.</p>
			<a href="single.html" class="vie">View More</a>
		</div>
			<div class="worsh">
				<h3>Worship Photos </h3>
				<p> All men seek after God, but God seeks after true worshipers</p>
			<div class="recent">
			<ul id="flexiselDemo3">
								<li>
									<div class="team1">
										
                                                                           <iframe src="https://player.vimeo.com/video/38880155" width="100%" height="130" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
									
                                                                        </div>
								</li>
								<li>
									<div class="team1">
                                                                       <!--  <a href="/"><img th:src="@{/images/wap/kogiCrusade.png}"  alt="" /></a>
									  -->   
                                                                            <iframe src="@{/images/wap/kogiCrusade.png" width="100%" height="130" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
									
                                                                        </div>
								</li>
								<li>
									<div class="team1">
                                                                          <!--  
                                                                          <a href="/"><img th:src="@{/images/wap/Prison.png}"  alt="" /></a>
                                                                            -->   
										<iframe src="/images/wap/Prison.png"" width="100%" height="130" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
									
                                                                        </div>
								</li>
								<li>
									<div class="team1">
								 <!-- 	 <a href="/"><img th:src="@{/images/wap/Occupy.png}"  alt="" /></a>
                                                                     -->      
										<iframe src="/images/wap/Occupy.png" width="100%" height="130" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
									
                                                                        </div>
								</li>
								<li>
									<div class="team1">
                                                                       <!--    <a href="/"><img th:src="@{/images/wap/oyocrusade.png}" alt="" /></a>-->
									     
										<iframe src="/images/wap/oyocrusade.png" width="100%" height="130" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
									
                                                                        </div></li>
							 </ul>
						
						 <script type="text/javascript">
							$(window).load(function() {
								
								$("#flexiselDemo3").flexisel({
									visibleItems: 4,
									animationSpeed: 1000,
									autoPlay: true,
									autoPlaySpeed: 3000,    		
									pauseOnHover: true,
									enableResponsiveBreakpoints: true,
									responsiveBreakpoints: { 
										portrait: { 
											changePoint:480,
											visibleItems: 1
										}, 
										landscape: { 
											changePoint:640,
											visibleItems: 2
										},
										tablet: { 
											changePoint:768,
											visibleItems: 3
										}
									}
								});
								
							});
							</script>
							<script type="text/javascript" src="js/jquery.flexisel.js"></script>

	</div>
	<a href="single.html" class="vie">View All</a>
<!-- recent -->
<div th:if="${AboutInfo != null}">
                <p th:text="${AboutInfo.mission}"></p>
</div>
			</div>
		</div>
		<div class="col-md-3 rooted-right">
			<div class="wor">
				<h3>Worship Services</h3>
				<ul>
					<li><a href="#">Bible Study: Thursdays at 7:30 pm</a></li>
					<li><a href="#">Every Second Wednesday and Thursdays:E-conference: 7:30 pm</a></li>
					<li><a href="#">Tuesdays at 7:00 pm: Teens Bible Study</a></li>
					<li><a href="#">Fridays at 7:00 pm: Teens Special Meetings</a></li>
				</ul>
			</div>
			<div class="fb-like-box" data-href="https://www.facebook.com/w3layouts" data-width="250" data-height="380" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
			<div id="fb-root"></div>
			<script>(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));</script>
					</div>
		<div class="clearfix"> </div>
	</div>
	</div>
	<!-- footer -->
        <div th:replace="includes :: footer"></div>
	<!-- footer -->
</body>
</html>