<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>	Holy Church a Religious Category Flat Bootstarp Responsive Website Template | Home :: w3layouts</title>
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all">
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="HolyChurch Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='http://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" th:href="@{/css/flexslider.css}" type="text/css" media="screen" />
<script th:src="@{/js/jquery.min.js}"></script>
</head>
<body>
<!-- header -->
        <div th:replace="includes :: header"></div>	
<!-- header -->
	<!-- slider -->
	<div class="container">
	<!-- slider -->
	<div class="rooted">
	<div class="container">
		<div class="col-md-9 roted-left">
		<div class="grndd">
			<h3>Rooted & Grounded in Love</h3>
			<h6>Do You Know Jesus Christ From Nazareth?</h6>
			<p>Curabitur quis arcu sapien, nec pharetra nisi. Aenean porttitor diam id lectus pharetra nec accumsan risus consequat. In gravida dapibus dolor, ut porta felis cursus vel. Integer a tellus nulla. Integer eget orci a elit sollicitudin dapibus eu non elit. Vivamus cursus sem vitae nunc mattis tincidunt praesent ac nisi mi. Aenean porttitor diam id lectus pharetra nec accumsan risus consequat. In gravida dapibus dolor, ut porta felis cursus vel integer a tellus nulla.</p>
			<a href="single.html" class="vie">View More</a>
		</div>
			<div class="worsh">
				<h3>Worship Photos & Videos</h3>
				<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin sed leo justo, sit amet venenatis tellus. Ut vehicula pharetra aliquet. Pellentesque ut nisi ac quam varius posuere id id velit. Vestibulum ut nulla ligula. Donec vel leo sed erat ullamcorper laoreet non nec quam. </p>
			<div class="recent">
			<ul id="flexiselDemo3">
								<li>
									<div class="team1">
										<iframe src="https://player.vimeo.com/video/38880155" width="100%" height="130" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
									</div>
								</li>
								<li>
									<div class="team1">
										<iframe src="https://player.vimeo.com/video/19764899?color=fffef8&title=0&byline=0&portrait=0" width="100%" height="130" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
									</div>
								</li>
								<li>
									<div class="team1">
										<iframe src="https://player.vimeo.com/video/17599940" width="100%" height="130" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
									</div>
								</li>
								<li>
									<div class="team1">
										<iframe src="https://player.vimeo.com/video/1871839" width="100%" height="130" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
									</div>
								</li>
								<li>
									<div class="team1">
										<iframe src="https://player.vimeo.com/video/19764899?color=fffef8&title=0&byline=0&portrait=0" width="100%" height="130" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
									</div></li>
							 </ul>
						
						 <script type="text/javascript">
							$(window).load(function() {
								
								$("#flexiselDemo3").flexisel({
									visibleItems: 4,
									animationSpeed: 1000,
									autoPlay: true,
									autoPlaySpeed: 3000,    		
									pauseOnHover: true,
									enableResponsiveBreakpoints: true,
									responsiveBreakpoints: { 
										portrait: { 
											changePoint:480,
											visibleItems: 1
										}, 
										landscape: { 
											changePoint:640,
											visibleItems: 2
										},
										tablet: { 
											changePoint:768,
											visibleItems: 3
										}
									}
								});
								
							});
							</script>
							<script type="text/javascript" src="js/jquery.flexisel.js"></script>

	</div>
	<a href="single.html" class="vie">View All</a>
<!-- recent -->

                <p th:text="${AboutInfo.mission}"></p>
			</div>
		</div>
		<div class="col-md-3 rooted-right">
			<div class="wor">
				<h3>Worship Services</h3>
				<ul>
					<li><a href="#">• Tuesdays at 19:00 am</a></li>
					<li><a href="#">• Fridays at 9:45 am</a></li>
					<li><a href="#">• Saturdays at 20:00 am</a></li>
					<li><a href="#">• Sundays at 10:00 am</a></li>
				</ul>
			</div>
			<div class="fb-like-box" data-href="https://www.facebook.com/w3layouts" data-width="250" data-height="380" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
			<div id="fb-root"></div>
			<script>(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));</script>
					</div>
		<div class="clearfix"> </div>
	</div>
	</div>
	<!-- footer -->
        <div th:replace="includes :: footer"></div>
	<!-- footer -->
</body>
</html>