<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>	Word and Prayer Network</title>
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all">
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="HolyChurch Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='http://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" th:href="@{/css/flexslider.css}" type="text/css" media="screen" />
<script th:src="@{/js/jquery.min.js}"></script>
</head>
<body>
<!-- header -->
        <div th:replace="includes :: header"></div>	
<!-- header -->
<div class="container">
<div class="single-page-artical">
	<div class="artical-content">
		<h3 th:text="${testimony.subject}">God is good</h3>
		<img class="img-responsive" th:src="@{/images/14.jpg}" title="banner1">
                <p th:text="${testimony.message}"> I will magnify the Lord who is worthy to be praised.  </p>
		<div class="artical-links">
		   <ul>
			   <li><small> </small><span th:text="${testimony.dateAdded}">june 14, 2013</span></li>
			   <li><a href="#"><small class="admin"> </small><span th:text="${testimony.firstName + ' '+ testimony.lastName}">admin</span></a></li>
			   
		   </ul>
	   </div>

	</div>
	
</div>

	<!-- footer -->
        <div th:replace="includes :: footer"></div>
	<!-- footer -->
</body>
</html>