<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>	Word and Prayer Network</title>
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all">
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="HolyChurch Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='http://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" th:href="@{/css/flexslider.css}" type="text/css" media="screen" />
<script th:src="@{/js/jquery.min.js}"></script>
</head>
<body>
<!-- header -->
	<div th:replace="includes :: header"></div>
	<!-- header -->
	<!-- study -->
	<div class="study">
		<div class="container">
			<h2>study</h2>
				<div class="study-top">
					<div class="col-md-4 study-left">
						<img src="images/2.jpg" class="img-responsive" alt="" />
					</div>
					<div class="col-md-7 study-right">
						<h3>embarrassing hidden in the middle of text.</h3>
						<h6>Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</h6>
						<p>when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search </p>
						<p>more-or-less normal distribution of letters, as opposed to using when looking at its layout. The point of using Lorem Ipsum is that it has a 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search </p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="study-bottom">
					<div class="col-md-7 study-right">
						<h6>Internet tend to repeat predefined chunks as necessary, Ipsum generators on the  making this the first true generator on the Internet.</h6>
						<p>when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search </p>
						<p>more-or-less normal distribution of letters, as opposed to using when looking at its layout. The point of using Lorem Ipsum is that it has a 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search </p>
						<a href="single.html" class="vie">View more</a>
					</div>
					<div class="col-md-4 study-left">
						<img src="images/11.jpg" class="img-responsive" alt="" />
					</div>
					<div class="clearfix"> </div>
				</div>
		</div>
	</div>
	<!-- study -->
				
	<!-- footer -->
	<div th:replace="includes :: footer"></div>
	
	<!-- footer -->
</body>
</html>